<app-comp-title [title]="'map'" [subTitle]="'Applies a given project function to each value emitted by the source Observable, and emits the resulting values as an Observable.'">

</app-comp-title>
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Ex - 01</mat-card-title>
                <hr>
                <p class="text-danger font-bold">{{videos}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>